@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

#mainbloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: auto;
  height: 100vh;
}

#bloc1 {
  width: auto;
}

#bloc2 {
  width: auto;
}

#bloc3 {
  width: auto;
}

img {
  width: 400px;
  height: auto;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(110, 106, 106);
}

.left-links {
  display: flex;
  gap: 30px;
  padding-left: 10px;
}

.right-links {
  display: flex;
  gap: 30px;
  margin-right: 10px;
  padding-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(76, 76, 79, 0.172);
  padding: 5px;
}
